/* .greenColor{
  background-color: #41CB5B;
}

.blueColor{
  color: #1d2143;
}

.top-btn{
  position: absolute;
  right: 15px;
  margin-top: -5rem;
  z-index: 999;
  padding: 1rem;
  border: none;
  border-radius: 100%;
  background-color: aqua;
  cursor: pointer;
} */


.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-logo {
  width: 150px;
  margin-bottom: 20px;
}

.loader-slider-container {
  width: 150px;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.loader-slider {
  height: 100%;
  background-color: #41CB5B;
  transition: width 0.2s ease;
}

.loader-percentage {
  margin-top: 10px;
  font-weight: bold;
  color: #41CB5B;
}


/* Testimonials */
.testimonials-container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-card {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 10px;
  /* Horizontal margin between cards */
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  /* Set a maximum width to control the card size */
  width: 100%;
  /* Make the card take full width inside its container */
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  flex-grow: 1;
}

.testimonial-name {
  font-weight: bold;
  margin: 5px 0;
  color: #000;
}

.testimonial-role {
  color: #777;
}

/* Add padding around the slider for better responsiveness */
.slick-list {
  padding: 0 20px;
}